<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.easyway.pos">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <uses-permission android:name="android.permisssion.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permisssion.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--BLUETOOTH PERMISSION-->
    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Needed only if your app looks for Bluetooth devices.
             If your app doesn't use Bluetooth scan results to derive physical
             location information, you can strongly assert that your app
             doesn't derive physical location. -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!-- Needed only if your app makes the device discoverable to Bluetooth
      devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!-- Needed only if your app communicates with already-paired Bluetooth
           devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!--bibo01 : hardware option-->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="false"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--   <category android:name="android.intent.category.DEFAULT" />
               <category android:name="android.intent.category.HOME" />-->
            </intent-filter>
        </activity>

        <!-- This is where we register our receiver -->
        <receiver
            android:name=".activities.DeviceAdmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="false">
            <intent-filter>

                <!-- This action is required -->
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

            <!-- This is required this receiver to become device admin component. -->
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
        </receiver>

        <!--  MainActivity -->
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>
        <!--  Splash -->
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.CompanyURLConfigActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <!--  SettingsActivity -->
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_settings"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".activities.SetupActivity"
            android:label="@string/title_settings"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!--  PreferenceURLSettings -->
        <activity
            android:name=".preferences.PreferenceURLSettings"
            android:label="@string/modeSettings" />


        <!--  RefreshMasters -->
        <activity
            android:name=".masters.SyncMastersActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />


        <!--  UploadActivity -->
        <activity
            android:label="Choose Device"
            android:name=".activities.DeviceListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:label="Choose Device"
            android:name=".activities.PairedDeviceListActivity"
            android:theme="@android:style/Theme.Dialog"
            android:configChanges="keyboardHidden|orientation" />


        <activity
            android:name=".activities.UserDetailsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.CompanyDetailsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <!--  FactoryDetailsActivity -->
        <activity
            android:name=".activities.FactoryDetailsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!--  GradeDetailsActivity -->
        <activity
            android:name=".activities.GradeDetailsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!--  PrintTestActivity -->
        <activity
            android:name=".activities.PrintTestActivity"
            android:theme="@android:style/Theme.Dialog"
            android:label="Print Test" />

        <!--  PrintReceiptActivity -->
        <activity
            android:name=".activities.PrintRecieptActivity"
            android:theme="@android:style/Theme.Dialog"
            android:label="Print Or Send SMS" />

        <activity
            android:name=".activities.PrintSingleRecieptActivity"
            android:theme="@android:style/Theme.Dialog"
            android:label="Print" />
        <!--  Weigh Activity -->
        <activity
            android:name=".weighing.SortingWeighActivity"
            android:screenOrientation="fullSensor" />
        <service android:name=".services.NewWeighingService" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
